<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="/">{{title}}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav mr-auto ml-5">

    <li class="nav-item">
      <a class="nav-link" href="/sports">Sports</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/casino">Casino</a>
    </li>

  </ul>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto">
  
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Sign In</a>
    </li>
    
    <li class="nav-item">
      <a class="btn btn-primary rounded-0" href="/auth/register">Join</a>
    </li>
  
    
  
  </ul>
  
</nav>