{{> head }}

<body >
	{{> navbar}}

	{{{body}}}

<footer class="mt-5">
	<div class="container">
		<span class="text-light mr-2">Copyright 2018</span>
		<span><a class="text-light" href="#">Privacy Policy</a></span>
		<span class="text-light">·</span>
		<span><a class="text-light" href="#">Terms of Use</a></span>
	</div>
</footer>

{{> footer}}