<header>
    <div class="container header-content">
        <h1 class="header-title animate-pop-in">Start Crypto Betting</h1>
        <h3 class="header-subtitle animate-pop-in">The easiest way to bet with crypto currency 
            <br/>Start crypto currency betting in 5 minutes</h3>
        <p class="lead animate-pop-in"><a href="#" class="btn btn-primary btn-lg rounded-0">Get started today</a></p>
    </div>
</header>

<section id="how">
    <div class="container">
        <div class="row mt-5 pb-5">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Create an account</h4>
                        <p>It only takes a minute</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Make a BTC deposit</h4>
                        <p>Fast, safe & secure</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Place your bets</h4>
                        <p>Easy bitcoin betting</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Instant withdrawals</h4>
                        <p>Lightning fast cashout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>