<section id="slider">
    
    <div class="jumbotron jumbotron-fluid">
    <div class="container pt-5">
        <h1 class="display-4">Start Crypto Betting</h1>
        <p class="lead">The easiest way to bet with crypto currency
            <br /> Start crypto currency betting in 5 minutes </p>
    </div>
    </div>
</section>

<section id="how">
    <div class="container">

        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Create an account</h4>
                <p>It only takes a minute</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Make a BTC deposit</h4>
                <p>Fast, safe & secure</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Place your bets</h4>
                <p>Easy bitcoin betting</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Instant withdrawals</h4>
                <p>Lightning fast cashout</p>
            </div>


        </div>
    </div>
</section>