<section id="login" class="mt-1 pb-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mx-auto">


        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0 float-left">Sign In</h3>

            <a href="/" class="close" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>

          <div class="card-body">
              
            <form name="form" class="form" action="/auth/login" method="POST">

              <div class="form-group">
                <input type="email" class="form-control form-control-md rounded-0" 
                placeholder="Your email" name="email" required />

                {{#if errors.email }}
                  <small class="form-text text-danger">{{ errors.email.msg }}</small>
                {{/if}}

              </div>

              <div class="form-group">
                <input type="password" class="form-control form-control-md rounded-0" 
                placeholder="Your password" name="password"required />
                {{#if errors.password }}
                  <small class="form-text text-danger">{{ errors.password.msg }}</small>
                {{/if}}
                
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>

              <button type="submit" class="btn btn-primary btn-lg btn-block rounded-0">Submit</button>
              <p class="text-center mt-2"> <a href="#">Forgot your password?  </a> </p> 

              <p class="text-center mt-2"> Don't have an account? <a href="/auth/register">Join </a> </p> 

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>