<div class="container">
  <div class="card card-login mx-auto mt-5 rounded-0">
    <div class="card-header">Sign In
      <a href="/" class="close" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>

    <div class="card-body">

      <form name="form" class="form" action="/auth/login" method="POST">

        {{#if error_message}}
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>
        {{/if}}
        
        {{#if success_message}}
        <div class="alert alert-success" role="alert">
          {{ success_message }}
        </div>
        {{/if}}
        
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" id="inputEmail" name="email" class="form-control rounded-0" placeholder="Your Email" required="required"
              autofocus="autofocus">
            <label for="inputEmail">Email Address</label>
            {{#if errors.email }}
            <small class="form-text text-danger">{{ errors.email.msg }}</small>
            {{/if}}

          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control rounded-0" placeholder="Your Password" required="required">
            <label for="inputPassword">Password</label>

            {{#if errors.password }}
            <small class="form-text text-danger">{{ errors.password.msg }}</small>
            {{/if}}

          </div>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block rounded-0">Submit</button>

      </form>

      <div class="text-center mt-3">
        <div><a href="#">Forgot your password? </a> </div>
        <div>Don't have an account? <a href="/auth/register">Join </a> </div>
      </div>

    </div>

  </div>

</div>