<div class="container">
  <div class="card card-login mx-auto mt-5 rounded-0">
    <div class="card-header">Join
      <a href="/" class="close" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>

    <div class="card-body">

      <form name="form" class="form" action="/auth/login" method="POST">

        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="inputfirstname" class="form-control rounded-0" placeholder="Your Firstname" required="required"
              autofocus="autofocus">
            <label for="inputfirstname">Firstname</label>
            {{#if errors.firstname }}
            <small class="form-text text-danger">{{ errors.firstname.msg }}</small>
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="inputlastname" class="form-control rounded-0" placeholder="Your Lastname" required="required"
              autofocus="autofocus">
            <label for="inputlastname">Lastname</label>
            {{#if errors.lastname }}
            <small class="form-text text-danger">{{ errors.lastname.msg }}</small>
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control rounded-0" placeholder="Your email" required="required"
              autofocus="autofocus">
            <label for="inputEmail">Email address</label>
            {{#if errors.email }}
            <small class="form-text text-danger">{{ errors.email.msg }}</small>
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" required="required">
            <label for="inputPassword">Password</label>

            {{#if errors.password }}
            <small class="form-text text-danger">{{ errors.password.msg }}</small>
            {{/if}}

          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block rounded-0">Submit</button>

      </form>

      <div class="text-center mt-3">
        <div>Already have an account? <a href="/auth/login">Sign In </a> </div>
      </div>

    </div>

  </div>

</div>